langchain
ipykernel
python-dotenv
langchain_community
langchain-community
pypdf
bs4
arxiv
pymupdf
wikipedia
langchain-text-splitters
python-dotenv
langchain-openai
sentence-transformers
sentence_transformers 
chromadb
langchain_huggingface
faiss-cpu
langchain_chroma
beautifulsoup4 
streamlit
langchain_groq
langchain_core
fastapi
uvicorn
langserve
sse_starlette
langchain-chroma
duckduckgo-search
mysql-connector-python
SQLAlchemy
validators
youtube_transcript_api
unstructured
pytube
numexpr
huggingface_hub
cassio
datasets 
langchain 
openai 
tiktoken
gradio